.vscode/
.DS_Store
Thumbs.db
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.ipynb
DeerLab.egg-info/top_level.txt
DeerLab.egg-info/requires.txt
DeerLab.egg-info/dependency_links.txt
DeerLab.egg-info/SOURCES.txt
DeerLab.egg-info/PKG-INFO
*/dist/*
*/build/*
/.venv/*
target/
docsrc/source/.doctrees
docs/
docsrc/cache/
docsrc/source/__pycache__/
docsrc/__pycache__/
dist/
build/
.debugging.py
multidocs/**/*
docsrc/source/_auto_*/**/*
docsrc/source/auto_examples/**/*
docsrc/plot_directive/
docsrc/source/_build/
