.vscode/
.DS_Store
Thumbs.db
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.ipynb
DeerLab.egg-info/top_level.txt
DeerLab.egg-info/requires.txt
DeerLab.egg-info/dependency_links.txt
DeerLab.egg-info/SOURCES.txt
DeerLab.egg-info/PKG-INFO
