
/* !important prevents the common CSS stylesheets from overriding
   this as on RTD they are loaded after this stylesheet */



@import 'theme.css';       /* for the Read the Docs theme */

/*
.section {
     text-align:justify;
}
*/


/*Override the design with the box around the code with a small font*/
code, .rst-content tt, .rst-content code {
    font-family: monospace !important;
    font-size: 100% !important;
    border: solid 0px #e1e4e5 !important;
}

/*Override the title of MATLAB live scripts*/
.S0{
color: #5c87d6 !important;
padding-bottom:10px !important;
padding-top:-10px !important;
}
.S3{
padding-bottom:10px !important;
padding-top:-10px !important;
}

.rst-content code.literal{
	color:#000000 !important;
}


/*Set the size of the download buttons of the tutorials*/
.tutorial_buttons{
    width:125px;
    height:125px;
}

/*Change default fonts used throughout the documentation*/
body{
    font-family:'Open Sans', sans-serif !important;
}

/*Override the width of the page to cover the whole window*/
.wy-nav-content {
    background: #ffffff !important;
    max-width:  75% !important;
}

/*Begin CSS formatting of the functions and models sections*/
.tutorialSectionBox {
    margin-top: 2em;
    border: #DE5253 3px solid;
    border-right: none;
    border-bottom: none;
}
.tutorialSectionBox .sectionTitle h3 {
    position: relative;
    top: 0em;
    margin-left: 0em;
    display: inline;
    background-color: white;
    padding-left: 0em;
    padding-right: 0em;
}
.tutorialSectionBox .sectionLogo {
    position: relative;
    top: -1.9em;
    margin-left: 1em;
    display: inline;
    background-color: white;
    float:left;
    line-height: 50px;
}
.analysis {
    border: #DE5253 1px solid;
    border-bottom: none;
}
.tutorialSectionBox .sectionContent {
}
.sectionLogo .avatar {
    height: 80px;
    width: 80px;
    margin: 0px;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%
}
End of CSS formatting of the functions and models sections*/

/*Do not change color of link once visited*/
a{
color:#000;
text-decoration:none;
}
a.visited{
color:#000;
}

/*For links containing code*/
.coderef a{
    font-family: monospace
}

ul.metro li.nocolor_class a.tile { background-color: #FFFFFF; border-radius: 50%; width: 110px; height: 110px;}

/*----------------------------------------------*/
/*---------Function list table class------------*/
/* Accessed via ".. rst-class:: func-list"      */
/*----------------------------------------------*/

/*Remove the alternate row background color from default sphinx+RTD*/
table.func-list.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background: unset;
}

/*Make the links looks like code*/
table.func-list.docutils a {
    /*color: #000;*/
    text-decoration: none;
    cursor: pointer;
    font-family: monospace;
    font-size: 15px;
}

/*Formatting of the table cells*/
.rst-content table.func-list.docutils td {
    width: 300px;
    padding-left: 35px;
    border-bottom: solid 1px #f2f2f2;
    border-top: solid 1px #f2f2f2;
    border-left: hidden 1px #fff;
    border-right: hidden 1px #fff;
    font-size: 15px;
}

/*Formatting of the table header*/
.rst-content table.func-list.docutils thead th{
    background: #fff;
    padding-left: 35px;
    border-bottom: solid 1px #f2f2f2;
    border-top: hidden 1px #fff;
    border-left: hidden 1px #fff;
    border-right: hidden 1px #fff;
    margin-bottom: 0px;
    font-size: 15px;
}

/*Coloring when hovering over row*/
table.func-list.docutils tbody tr.row-odd, table.func-list.docutils tbody tr.row-even{
    border-radius: 15px;
}

/*Coloring when hovering over row*/
table.func-list.docutils tbody tr.row-odd:hover, table.func-list.docutils tbody tr.row-even:hover{
    background-color: #ececff!important;
}

/*----------------------------------------------*/
/*----------------------------------------------*/

/*Override table width restrictions*/
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

/*Formatting of the versions dropdown menu*/
.select {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    width: 50%;
}    .select select {
        font-family: 'Consolas';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 7px 13px;
        outline: 0;
        border: 0px solid #343131;
        border-radius: 90px;
        background: #343131;
        color: #ffffff;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #ffffff;
            background: #343131;
        }
        .select select:disabled {
            opacity: 0.4;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 12px;
    right: 20px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #ffffff transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #343131;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #343131;
}



/*Formatting of examples list*/
        ul.examples * {margin: 0; padding: 0;}
         
        ul.examples div {
          margin: 20px;
        }
         
        ul.examples ul {
          list-style-type: none;
          width: 500px;
        }
         
        ul.examples li img {
          float: left;
          margin: 0 15px 0 0;
          width: 120px;
          height: 120px;
        }
         
        ul.examples li h3 {
	font-size: 110%;
	margin-top: 30px;
        }
 
        ul.examples li {
          padding: 10px;
          overflow: auto;
        }
         
        ul.examples li:hover {
          background: #eee;
          cursor: pointer;
        }
        
       
/*Formatting of autodoc pages*/ 
html.writer-html4 .rst-content dl:not(.docutils) dl:not(.field-list) > dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dl:not(.field-list) > dt {
    margin-bottom: 1px;
    border: none;
        border-left-color: currentcolor;
        border-left-style: none;
        border-left-width: medium;
    border-left: 0px solid #ccc;
    background: #fff;
    color: #404040;
    font-weight: bold
}
    
html.writer-html4 .rst-content dl:not(.docutils) > dt:first-child, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) > dt:first-child {
    margin-top: 0;
    font-weight: inherit;
}
html.writer-html4 .rst-content dl:not(.docutils) > dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) > dt {
    display: table;
    margin: 6px 0;
        margin-top: 6px;
    margin-top: 6px;
    font-size: 90%;
    line-height: normal;
    background: #ffde7a;
    color: #000;
    border-top: 0px solid #333;
    padding: 6px;
    position: relative;
}

html.writer-html4 .rst-content dl:not(.docutils) code.descname, html.writer-html4 .rst-content dl:not(.docutils) tt.descname, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) code.descname, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) tt.descname {
    font-weight: 700;
    font-size: 130% !important;
}
em {
    font-style: italic;
}

code.literal {
    font-family: monospace;
    padding-left: 2px;
    background-color: rgb(242, 242, 242);
}

span.classifier {
    font-style: italic;
}


html.writer-html4 .rst-content dl:not(.docutils) code, html.writer-html4 .rst-content dl:not(.docutils) tt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) code, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) tt {
    font-weight: 10;
    background-color: rgb(242, 242, 242);
    padding-left: 3px;
}



.sphx-glr-script-out .highlight pre{
    background-color: #313439 !important;
}

.sphx-glr-thumbcontainer {
    background: #fff;
    border: solid #fff 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: none;
    float: left;
    margin: 5px;
    min-height: 250px;
    padding-top: 5px;
    position: relative;
    min-width: 225px;
}
.sphx-glr-thumbcontainer a.internal{
    bottom: 0;
    display: block;
    left: 0;
    padding: 150px 10px 0;
    position: absolute;
    right: 0;
    top: 0;   
    text-align: center;
    color: #343131;
} 
.sphx-glr-thumbcontainer .figure {
    width: 160px;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
   
.py.function span.classifier {
    font-style: italic;
    font-size: 14px;
    font-weight: initial;
}

.py.method span.classifier {
    font-style: italic;
    font-size: 14px;
    font-weight: initial;
}

.py.class span.classifier {
    font-style: italic;
    font-size: 14px;
    font-weight: initial;
}

.py.function li, ul {
    list-style: disc;
    margin-left: 24px;
    margin-bottom: -12px}
    
.py.class li, ul {
    list-style: disc;
    margin-left: 24px;
    margin-bottom: -12px