
@import 'theme.css';       /* for the Read the Docs theme */

.section {
     text-align:justify;
}

.rst-content code.literal{
	color:#9c1330
}

a.fancybutton:visited {
  color: white
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}