pre { line-height: 125%; margin: 0; }
td.linenos pre { color: #000000; background-color: #f0f0f0; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #000000; background-color: #f0f0f0; padding-left: 5px; padding-right: 5px; }
td.linenos pre.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #4f566b; color: #ffffff }
.highlight .c { color: #c1c9d2 } /* Comment */
.highlight .k { color: #a4cdfe } /* Keyword */
.highlight .o { color: #a4cdfe } /* Operator */
.highlight .ch { color: #c1c9d2 } /* Comment.Hashbang */
.highlight .cm { color: #c1c9d2 } /* Comment.Multiline */
.highlight .cp { color: #c1c9d2 } /* Comment.Preproc */
.highlight .cpf { color: #c1c9d2 } /* Comment.PreprocFile */
.highlight .c1 { color: #c1c9d2 } /* Comment.Single */
.highlight .cs { color: #c1c9d2 } /* Comment.Special */
.highlight .kc { color: #a4cdfe } /* Keyword.Constant */
.highlight .kd { color: #a4cdfe } /* Keyword.Declaration */
.highlight .kn { color: #a4cdfe } /* Keyword.Namespace */
.highlight .kp { color: #a4cdfe } /* Keyword.Pseudo */
.highlight .kr { color: #a4cdfe } /* Keyword.Reserved */
.highlight .kt { color: #a4cdfe } /* Keyword.Type */
.highlight .m { color: #f8b886 } /* Literal.Number */
.highlight .s { color: #85d996 } /* Literal.String */
.highlight .nb { color: #a4cdfe } /* Name.Builtin */
.highlight .nc { color: #0000FF } /* Name.Class */
.highlight .nf { color: #a4cdfe } /* Name.Function */
.highlight .nv { color: #dddee4 } /* Name.Variable */
.highlight .ow { color: #a4cdfe } /* Operator.Word */
.highlight .w { color: #ffffff } /* Text.Whitespace */
.highlight .mb { color: #f8b886 } /* Literal.Number.Bin */
.highlight .mf { color: #f8b886 } /* Literal.Number.Float */
.highlight .mh { color: #f8b886 } /* Literal.Number.Hex */
.highlight .mi { color: #f8b886 } /* Literal.Number.Integer */
.highlight .mo { color: #f8b886 } /* Literal.Number.Oct */
.highlight .sa { color: #85d996 } /* Literal.String.Affix */
.highlight .sb { color: #85d996 } /* Literal.String.Backtick */
.highlight .sc { color: #85d996 } /* Literal.String.Char */
.highlight .dl { color: #85d996 } /* Literal.String.Delimiter */
.highlight .sd { color: #85d996 } /* Literal.String.Doc */
.highlight .s2 { color: #85d996 } /* Literal.String.Double */
.highlight .se { color: #85d996 } /* Literal.String.Escape */
.highlight .sh { color: #85d996 } /* Literal.String.Heredoc */
.highlight .si { color: #85d996 } /* Literal.String.Interpol */
.highlight .sx { color: #85d996 } /* Literal.String.Other */
.highlight .sr { color: #85d996 } /* Literal.String.Regex */
.highlight .s1 { color: #85d996 } /* Literal.String.Single */
.highlight .ss { color: #85d996 } /* Literal.String.Symbol */
.highlight .bp { color: #a4cdfe } /* Name.Builtin.Pseudo */
.highlight .fm { color: #a4cdfe } /* Name.Function.Magic */
.highlight .vc { color: #dddee4 } /* Name.Variable.Class */
.highlight .vg { color: #dddee4 } /* Name.Variable.Global */
.highlight .vi { color: #dddee4 } /* Name.Variable.Instance */
.highlight .vm { color: #dddee4 } /* Name.Variable.Magic */
.highlight .il { color: #f8b886 } /* Literal.Number.Integer.Long */