name: Scheduled DeerLab tests
on:
  workflow_dispatch:
  schedule:
    # Run once a week on Monday at 6:30 AM
    - cron:  '30 6 * * 1'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/cache@v2
        if: startsWith(runner.os, 'Windows')
        with:
          path: |
            ~\pipwin
            ~\AppData\Local\pip\Cache
          key: ${{ runner.os }}-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            {{ runner.os }}-pip-

      - uses: actions/cache@v2
        if: startsWith(runner.os, 'macOS')
        with:
          path: |
            ~/Library/Caches/pip
          key: ${{ runner.os }}-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            {{ runner.os }}-pip-

      - uses: actions/cache@v2
        if: startsWith(runner.os, 'Linux')
        with:
          path: |
            ~/.cache/pip
          key: ${{ runner.os }}-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            {{ runner.os }}-pip-

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'false'
        run: |
          python -m pip install --upgrade pip
          python setup.py install
          python -m pip install pytest
  
      - name: Test with pytest
        run: pytest
