name: Test documentation build PR

on: 
  pull_request:
    branches:
    - "**"
    paths:
    - 'docsrc/**'
    - '.github/workflows/deploy_ghpages.yml'
    - '.github/workflows/docs_PR.yml'
    - '.github/workflows/examples_PR.yml'
jobs:

  docsbuild:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        cache: 'pip'
        cache-dependency-path: setup.py   
    - name: Setup TeXLive Action
      uses: teatimeguest/setup-texlive-action@v2.6.2
      with:
        packages: >-
          scheme-basic
          dvisvgm
    - name: Install dependencies
      run: |
           python -m pip install --upgrade pip
           pip install furo
           pip install numpydoc
           pip install sphinx-gallery
           pip install sphinxcontrib-httpdomain
           pip install sphinxcontrib-ghcontributors
           pip install sphinx-issues
           pip install sphinx-copybutton  
           pip install sphinx
           pip install sphinx-design
           python -m pip install .
        
    - name: Build with Sphinx
      run: |
           sphinx-build -E -b html ./docsrc/source ./docs -D  plot_gallery=0
