name: Test documentation examples build PR

on: 
  pull_request:
    branches:
    - "**"
    paths:
    - 'examples/**'
    - '.github/workflows/deploy_ghpages.yml'
    - '.github/workflows/docs_PR.yml'
    - '.github/workflows/examples_PR.yml'
jobs:

  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        cache: 'pip'
        cache-dependency-path: setup.py
    - name: Setup TeXLive Action
      uses: teatimeguest/setup-texlive-action@v2.6.2
      with:
        packages: >-
          scheme-basic
          dvisvgm
    - name: Install dependencies
      run: |
           python -m pip install --upgrade pip
           python -m pip install furo
           python -m pip install numpydoc
           python -m pip install sphinx-gallery
           python -m pip install sphinxcontrib-httpdomain
           python -m pip install sphinxcontrib-ghcontributors
           python -m pip install sphinx-issues
           python -m pip install sphinx-copybutton  
           python -m pip install sphinx
           python -m pip install sphinx-design
           python -m pip install .
    - name: Build with Sphinx
      run: |
           sphinx-build -E -b html ./docsrc/source ./docs
