name: Test documentation examples build PR

on: 
  pull_request:
    branches:
    - "**"
    paths:
    - 'examples/**'
    - '.github/workflows/deploy_ghpages.yml'
    - '.github/workflows/docs_PR.yml'
    - '.github/workflows/examples_PR.yml'
jobs:

  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Set up Python 3.10
      uses: actions/setup-python@v1
      with:
        python-version: 3.10
    - uses: actions/cache@v2
      with:
        path: |
          ~/.cache/pip
        key: ${{ runner.os }}-${{ hashFiles('**/make.bat') }}
        restore-keys: |
          {{ runner.os }}-pip-
    - name: Install dependencies
      run: |
           python -m pip install --upgrade pip
           python -m pip install pydata-sphinx-theme
           python -m pip install numpydoc
           python -m pip install sphinx-gallery
           python -m pip install sphinxcontrib-httpdomain
           python -m pip install sphinxcontrib-ghcontributors
           python -m pip install sphinx-copybutton  
           python -m pip install sphinx-issues
           python -m pip install sphinx
           sudo apt install texlive-extra-utils
           sudo apt-get install texlive-latex-extra
           python -m pip install .
    - name: Build with Sphinx
      run: |
           sphinx-build -E -b html ./docsrc/source ./docs
